$base-color-background: #272827;

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  padding: 0;
}

.benefits-img {
  max-width: 120px;
  max-height: 120px;
}

.dark-background {
  background: $base-color-background;
}

.form-select {
  width: 85%;
}
