$base-color-background: #272827;
$secondary-color: #6c757d;

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.great-dane {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: -513px;
}
.kibble {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  right: 0px;
  top: -370px;
}

.container-fluid {
  padding: 0;
}

.benefits-box {
  background-color: white;
  border-radius: 8px;
  max-height: 111px;
  max-width: 317px;
  padding: 0;
}

.benefits-img {
  max-width: 100px;
  max-height: 100px;
  padding: 0;
}

.ketona-club-block {
  max-width: 1000px;
}

#how-ketona-club-works {
  border-top: 1px solid $secondary-color;
}
.details {
  position: absolute;
  visibility: hidden;
}

.dark-background {
  background: $base-color-background;
}

.form-select {
  width: 85%;
}

.footnote {
  color: $secondary-color;
  font-size: smaller;
}

.per-day {
  max-width: 28px;
  font-size: smaller;
}

.pie-chart {
  max-width: 75%;
}

.dot {
  height: 24px;
  width: 24px;
}

.small-dog-food {
  margin-right: -32px;
  margin-top: 17px;
  max-width: 128px;
  max-height: 180px;
}

.join-text {
  color: $secondary-color;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.fine-print {
  color: $secondary-color;
}
@media (min-width: 769px) {
  #how-ketona-club-works {
    border-bottom: 1px solid $secondary-color;
  }

  .ketona-club-benefits {
    border-bottom: 1px solid $secondary-color;
  }

  .details {
    visibility: visible;
    position: static;
  }
}

@media (min-width: 993px) {
  .headline {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
  }
  .benefits-strip {
    margin-bottom: 70px;
  }
  .great-dane {
    visibility: visible;
  }
  .kibble {
    visibility: visible;
    top: -470px;
  }
}

@media (min-width: 1401px) {
  .kibble {
    top: -370px;
  }
}
