* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.great-dane {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: -511px;
}

.kibble {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  right: 0px;
  top: -370px;
}

.container-fluid {
  padding: 0;
}

.benefits-box {
  background-color: white;
  border-radius: 8px;
  max-height: 111px;
  max-width: 317px;
  padding: 0;
}

.benefits-img {
  max-width: 100px;
  max-height: 100px;
  padding: 0;
}

#how-ketona-club-works h1 {
  border-top: 1px solid #6c757d;
  padding-top: 30px;
}

.how-it-works {
  margin-left: 8%;
}

.dark-background {
  background: #272827;
}

.form-select {
  width: 85%;
}

.footnote {
  color: #6c757d;
  font-size: smaller;
}

.per-day {
  max-width: 28px;
  font-size: smaller;
}

.pie-chart {
  max-width: 75%;
}

.dot {
  height: 24px;
  width: 24px;
}

.small-dog-food {
  margin-right: -32px;
  margin-top: 17px;
  max-width: 128px;
  max-height: 180px;
}

.join-text {
  color: #6c757d;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.fine-print {
  color: #6c757d;
}

@media (min-width: 769px) {
  #how-ketona-club-works {
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
  }

  #how-ketona-club-works h1 {
    border-top: none;
    padding-top: 0;
  }

  .how-it-works {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  }

  .ketona-club-benefits {
    border-bottom: 1px solid #6c757d;
  }

  #try-ketona-risk-free {
    border-left: 1px solid white !important;
  }

  .ketona-club-benefits {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .img-strip-3 {
    position: absolute;
    visibility: hidden;
  }

  .img-strip-4 {
    position: static;
    visibility: visible;
  }

  .limit-carbs-container {
    border-bottom: 1px solid #6c757d;
    padding-bottom: 30px;
  }

  /* Unparalleled Nutritional Content section */
  .nutritional-content {
    grid-area: header;
  }

  .dog-pic {
    grid-area: sidebar;
  }

  .better-nutrition {
    grid-area: middle;
    border-bottom: 1px solid #6c757d;
    border-top: 1px solid #6c757d;
  }
  .better-nutrition h3 {
    border: none !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }

  .bad-good-stuff {
    grid-area: bottom;
  }
  .bad-good-stuff h3 {
    border: none !important;
    margin-bottom: 0px !important;
  }

  .nutritional-content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "sidebar middle" "bottom bottom";
    border-bottom: 1px solid #6c757d;
    margin-bottom: 20px;
    padding-bottom: 40px;
  }
}
@media (min-width: 993px) {
  .headline {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .benefits-strip {
    margin-bottom: 70px;
  }

  .great-dane {
    visibility: visible;
  }

  .kibble {
    visibility: visible;
    top: -470px;
  }

  .ketona-club-block {
    max-width: 1000px;
  }

  .limit-carbs-benefits {
    border-left: 1px solid #6c757d;
  }

  /* Unparalleled Nutritional Content section */
  .nutritional-content {
    grid-area: header;
  }

  .dog-pic {
    grid-area: sidebar;
  }

  .better-nutrition {
    grid-area: middle;
  }

  .bad-good-stuff {
    grid-area: bottom;
  }

  .good-stuff {
    padding-bottom: 30px;
    margin-top: 30px;
  }

  .bad-stuff {
    padding-bottom: 30px;
    margin-top: 30px;
    border-right: 1px solid #6c757d;
  }

  .nutritional-content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "sidebar middle" "sidebar bottom";
  }
}
@media (min-width: 1401px) {
  .kibble {
    top: -370px;
  }
}

/*# sourceMappingURL=style.css.map */
